<div style='width: 100%' >
 <div id="map" style='width: 100%; height: 400px;'></div>
</div>

<script>
function initMap(){
	handler = Gmaps.build('Google');
	handler.buildMap({ provider: {
	center: {lat: 25.680111, lng: -100.317131},
	zoom: 11,
	minZoom: 4,
	maxZoom: 18,


	}, internal: {id: 'map'}}, function(){

<%@rooms.each do |r|%>
	var map = handler.getMap();

    var marker<%=r.id%> = new google.maps.Marker({
          position: {lat: <%=r.latitude%>, lng: <%=r.longitude%>},
          map: map,
          title:"<%= r.location%>"
        });

  	marker<%=r.id%>.addListener('click', function() {
      window.location = "<%= room_url(r) %>";
    });

  <% end%>
	});

	

 



       
 };

</script>









<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDXiiQDAdCRZbNKhIq-Au_7FKPpqJ8b3PA&callback=initMap" async defer></script>
<script src="https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerclustererplus/src/markerclusterer.js"></script>