<%= render "layouts/navbar" %>

<p id="notice"><%= notice %></p>

<div class="mo">
<h1>Room - $<%= @room.price %> </h1>
<h2><%= @room.location %> </h2>
</div>






<div class="icons" style="height:330px; width:545px;color:red;background: rgba(100, 100, 100, 0.4); position:absolute; left: 200px; top: 250px; border-radius:5px">

   <% if @room.girls %>
   <div class="imageg">
    </div>
   <%end%> 

   <% if @room.home %>
   <div class="imageh">
   </div>
   <%end%>

   <% if @room.dep %>
    <div class="imaged">
    </div>
   <%end%>

   <% if @room.garage %>
   <div class="imagega">
    </div>
   <%end%>

   <% if @room.boys %>
   <div class="imagebo">
    </div>
   <%end%>

   <% if @room.animals %>
   <div class="imagea">
    </div>
   <%end%>

   <% if @room.nanimals %>
   <div class="imagena">
    </div>
   <%end%>

   <% if @room.smoke %>
   <div class="imagens">
    </div>
   <%end%>

   <% if @room.nsmoke %>
   <div class="imagenns">
    </div>
   <%end%>

   <% if @room.urgent %>
   <div class="imageu">
    </div>
   <%end%>

   <% if @room.quick %>
    <div class="imageq">
    </div>
   <%end%>

   <% if @room.bathroom %>
   <div class="imageb">
    </div>
   <%end%>

   <% if @room.water %>
    <div class="imagew">
    </div>
   <%end%>

   <% if @room.light %>
    <div class="imagel">
    </div>
   <%end%>

   <% if @room.gas %>
    <div class="imagegas">
    </div>
   <%end%>
</div>




<div class="sho">
      <% @room.images.each do |photo| %>
      <%= image_tag photo.url, :width =>800, :height => 500  %>
      <% end %>
</div>

<h2 id="desctitle"> Roomie description <h2>

<div id="description">
<div class="name"><%= @room.user.name %>, <%= @room.user.age %></div>
<div class="rd"><%= @room.user.description %></div>
</div>


<h2 id="descrtitle"> Room description <h2>

<div id="rde">
<div class="rdr"><%= @room.description %></div>
</div>

<div class="mb">
<h2><%= link_to 'Start conversation', new_message_path(:room_id => params[:id]), class: 'btn btn-lg btn-primary' %></h2>
</div>
