<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @room.price %>
</p>

<p>
  <strong>Description:</strong>
  <%= @room.description %>
</p>

<p>
  <strong>Home:</strong>
  <%= @room.home %>
</p>

<p>
  <strong>Dep:</strong>
  <%= @room.dep %>
</p>

<p>
  <strong>Garage:</strong>
  <%= @room.garage %>
</p>

<p>
  <strong>Girls:</strong>
  <%= @room.girls %>
</p>

<p>
  <strong>Boys:</strong>
  <%= @room.boys %>
</p>

<p>
  <strong>Animals:</strong>
  <%= @room.animals %>
</p>

<p>
  <strong>Nanimals:</strong>
  <%= @room.nanimals %>
</p>

<p>
  <strong>Smoke:</strong>
  <%= @room.smoke %>
</p>

<p>
  <strong>Nsmoke:</strong>
  <%= @room.nsmoke %>
</p>

<p>
  <strong>Urgent:</strong>
  <%= @room.urgent %>
</p>

<p>
  <strong>Quick:</strong>
  <%= @room.quick %>
</p>

<p>
  <strong>Bathroom:</strong>
  <%= @room.bathroom %>
</p>

<p>
  <strong>Servinc:</strong>
  <%= @room.servinc %>
</p>

<p>
  <strong>Location:</strong>
  <%= @room.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @room.user.name %>
</p>

<% @room.images.each do |photo| %>
<%= image_tag photo.url, :width =>100, :height => 100 %>
<% end %>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
